<%- include('partials/header') %>

  <div class="jumbotron jumbotron-fluid rounded bg-white border-0 shadow-sm border-left px-4">
    <div class="container">
      <h1 class="display-4 mb-2 text-primary">Vintage Reads</h1>
      <p class="lead text-muted">Admin's Dashboard</p>
    </div>
  </div>

<%- include('partials/footer') %>