<%- include('partials/header'); -%>
<div class="about-us">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active"><a href="/aboutus">About Us</a></li>
        </ol>
      </nav>
    <h2>About Us</h2>
    <div class="container">
        <img src="img/background1.png" alt="image" class="image">
        <p class="text">Welcome to our online book store! We are passionate about reading and believe that books can
            change lives. Our mission is to provide a convenient and affordable way for book lovers to discover new
            titles and authors.

            Our team is made up of avid readers who are dedicated to curating a diverse selection of books that
            represent different genres, styles, and perspectives. We also offer a range of book-related services, such
            as author events, book clubs, and personalized recommendations.

            Thank you for choosing our bookstore as your go-to destination for all your reading needs. Happy reading!
        </p>
    </div>
    <div class="container-2">
        <p class="text">We have a wide selection of books for readers of all ages and interests. Whether you're looking
            for the latest bestseller, a classic novel, or a book on a specific topic, we've got you covered.

            In addition to our books, we also offer a variety of book-related merchandise, such as bookmarks, tote bags,
            and journals. And if you're looking for a gift for a book lover in your life, we have plenty of options to
            choose from.</p>
        <img src="img/designun1.png" alt="image" class="image">
    </div>
</div>

<%- include('partials/footer'); -%>